body{
    background-color: beige;
    font-family: 'Open Sans', sans-serif;
}
.page {
    width: 1060px;
    /*height: 25.14cm;*/
    background-color: white;
    margin: auto;
    padding: 1.32cm 1.22cm 1.59cm;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}
header, h1{
    margin-bottom: 50px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
.navigation1{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5e5e5e+0,444343+100 */
    background: rgb(94,94,94); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(94,94,94,1) 0%, rgba(68,67,67,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(94,94,94,1) 0%,rgba(68,67,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(94,94,94,1) 0%,rgba(68,67,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#444343',GradientType=0 ); /* IE6-9 */
}
.navigation1 li {
    display: inline-block;
    padding-right: 40px;

}
.navigation1 a {
color: white;
    text-decoration: none;
    padding: 14px 25px;
    display: inline-block;
    border-width: 0 1px;
    border-color: transparent;
    border-style: solid;
}
.navigation1 a:hover,
.navigation1 .active {
background-color: black;
    border-color: rgba(255, 255, 255, 0.6);
}

.navigation1:hover .active:not(:hover){
    background-color: transparent;
    border-color: transparent;}
.table0{
    display: table;
}
.table1,
.table2{
    float: left;
}
.table1 {
    width: 300px;
}
.table2 {
    width: calc(100% - 348px);
    margin-left: 48px;
}
.table2 img {
    display: block;
    width: 100%;
}
.table1 a {
    padding: 16px 23px;
    box-sizing: border-box;
    width: 100%;
    border: solid 1px rgba(0, 0, 0, 0.19);
    margin-bottom: -1px;
    display: block;
    text-decoration: none;
    transition: background-color 0.4s ease, padding-left 0.7s ease;
;
}
.table1 a:hover,
.table1 .active {
    background-color: gainsboro;
    padding-left: 40px;
}
.table2 span {
    padding: 41px 25px;
    display: block;
}
.copy {
    float: right;
    padding: 14px 25px;
}
.navigation1.footer {
    background: gainsboro;
    color: black;
}
.navigation1.footer a {
    color: black;
}
.navigation1.footer a:hover,
.navigation1.footer .active {
    background-color: transparent;
    border-color: #fff;
    text-decoration: underline;
}